name: On release

on:
  release:
    types: # This configuration does not affect the page_build event above
      - created

env:
  PLATFORMS: "linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/ppc64le,linux/s390x"
  
jobs:
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install shellcheck
        run: sudo apt-get install -y bash shellcheck
      - name: Analyse with shellcheck
        run: |
          set -e
          shellcheck -V
          shellcheck src/*.sh tests/*.sh
          set +e

  tests:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test_suit:
          - gantry_cleanup_images_spec.sh
          - gantry_entrypoint_spec.sh
          - gantry_job_spec.sh
          - gantry_login_spec.sh
          - gantry_manifest_spec.sh
          - gantry_multiple_services_spec.sh
          - gantry_no_running_tasks_spec.sh
          - gantry_options_spec.sh
          - gantry_rollback_spec.sh
          - gantry_simple_spec.sh
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.0.0
      - name: Install shellspec
        run: |
          mkdir -p ~/shellspec
          cd ~/shellspec
          git clone https://github.com/shellspec/shellspec.git
          ln -s ~/shellspec/shellspec/shellspec /usr/local/bin/shellspec
          echo -n "shellspec version: "
          shellspec --version
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run tests
        run: |
          export DOCKERHUB_PASSWORD=${{ secrets.DOCKERHUB_PASSWORD }}
          export DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}
          bash shellspec --pattern tests/${{ matrix.test_suit }}

  build_and_push:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    needs:
      - shellcheck
      - tests
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.0.0
      - name: Login to Docker Hub
        uses: docker/login-action@v3.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.0.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
      - name: Build and push
        uses: docker/build-push-action@v5.1.0
        with:
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: false

