name: On release

on:
  release:
    types: # This configuration does not affect the page_build event above
      - created

env:
  PLATFORMS: "linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/ppc64le,linux/s390x"
  
jobs:
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install shellcheck
        run: sudo apt-get install -y bash shellcheck
      - name: Analyse with shellcheck
        run: |
          set -e
          shellcheck -V
          shellcheck src/*.sh tests/*.sh
          set +e

  test_scripts:
    name: Test scripts
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.7.1
      - name: Install shellspec
        run: |
          mkdir -p ~/shellspec
          cd ~/shellspec
          git clone https://github.com/shellspec/shellspec.git
          ln -s ~/shellspec/shellspec/shellspec /usr/local/bin/shellspec
          echo -n "shellspec version: "
          shellspec --version
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run tests
        run: |
          bash shellspec --jobs 50

  test_container:
    name: Test container
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.7.1
      - name: Install shellspec
        run: |
          mkdir -p ~/shellspec
          cd ~/shellspec
          git clone https://github.com/shellspec/shellspec.git
          ln -s ~/shellspec/shellspec/shellspec /usr/local/bin/shellspec
          echo -n "shellspec version: "
          shellspec --version
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run container tests
        run: |
          export GANTRY_TEST_CONTAINER=true
          export GANTRY_TEST_CONTAINER_REPO_TAG=
          echo "GANTRY_TEST_CONTAINER=${GANTRY_TEST_CONTAINER}"
          echo "GANTRY_TEST_CONTAINER_REPO_TAG=${GANTRY_TEST_CONTAINER_REPO_TAG}"
          bash shellspec --jobs 50

  build_and_push:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    needs:
      - shellcheck
      - test_scripts
      - test_container
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.7.1
      - name: Login to Docker Hub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
      - name: Build and push
        uses: docker/build-push-action@v6.10.0
        with:
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: false

